<!DOCTYPE html>
<!--
TODO: The pomodoro table should show different status pomodoros with different colors or something. Maybe create a directive for that
TODO: import data
TODO: HTML5 local storage
TODO: Add notes about what was done on a pomodoro
-->
<html lang="en" ng-app="tomatoGears">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A single HTML file pomodoro timer">
        <meta name="author" content="Pedro Howat <https://github.com/phowat/tomato-gears>">
        <title>番茄番茄个土豆</title>

        <!-- Bootstrap core CSS -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">
    </head>

    <body>
    <audio id="alert-audio" src="media/ringtone.wav" preload="auto"></audio>
    <a href="https://github.com/phowat/tomato-gears">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
    </a>
    <div class="container">
        <div ng-controller="PomodoroTimerCtrl" ng-init="init()">

            <div class="row">
                <!-- <div class="col-lg-4 col-md-4 col-sm-1 col-xs-1"></div> -->
                <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10 jumbotron">
                    <div class="well well-sm">
                        <form class="simple-form form-inline">
                            <h3>番茄呼叫土豆</h3>
                            <input type="text" class="form-control" ng-model="pomodoro.description" id="activityDesc" placeholder="Ex: Finishing the layout of feature X." required >
                        </form>
                    </div>
                    <p class="small-label"> {{ pomodoro.text }} </p>
                    <h1 class="timer"> {{ stopwatch.data.value | secToTime }} </h1>
                    <p class="lead">
                        <button type="button" class="btn btn-primary" ng-click="startAbort()">
                            {{ pomodoro.label }}
                        </button>
                    </p>
                </div>
                <div class="col-lg8 col-md-8 col-sm-10 col-xs-1" ng-controller="PotatoCtrl">
                    <div class="todos">
            			<h2>我的任务列表</h2>
            			<form ng-submit="addTodo()">
            				<input type="text" class="input-xxlarge" ng-model="todoText"  size="30" placeholder="添加新任务" ng-required="true">
            				<label ng-show="hasItem()">
            					<input type="checkbox" ng-model="isDoneAll" ng-click="doneAll()">标记所有为已解决
            				</label>
            			</form>
            			<div ng-show="hasItem()">
            				<div class="btn-toolbar">
            					<div class="btn-group">
            						<a href="" class="btn btn-mini" ng-click="predicate='text'; reverse=!reverse">内容</a>
            						<a href="" class="btn btn-mini" ng-click="predicate='time'; reverse=!reverse">时间</a>
            						<a href="" class="btn btn-mini" ng-click="predicate='weight'; reverse=!reverse">权重</a>
            						<a href="" class="btn btn-mini" ng-click="predicate=''">默认</a>
            					</div>
            					<div class="btn-group">
            						<a href="" class="btn btn-mini" ng-click="query=true">已完成</a>
            						<a href="" class="btn btn-mini" ng-click="query=false">未完成</a>
            						<a href="" class="btn btn-mini" ng-click="query=''">全部</a>
            					</div>
            				</div>
            			</div>
            			<div class="todo-list">
            				<div ng-repeat="todo in todos | orderBy:predicate:reverse | filter:query">
            					<ul class="unstyled color" ng-hide="todo.editing">
            						<li ng-repeat="color in [4,3,2,1]" class="color-{{color}}" ng-click="todo.weight=color"></li>
            					</ul>
            					<div class="alert color-{{todo.weight}} done-{{todo.done}}" ng-hide="todo.editing" ng-dblclick="startEditing(todo)">
            						<button type="button" class="close" ng-click="removeTodo(todo)" data-dismiss="alert">×</button>
            						<input type="checkbox" ng-model="todo.done">
            						<span class="todo-text">{{todo.text}}</span>
            						<p class="pull-right">{{todo.time}}</p>
            					</div>
            					<form ng-submit="doneEditing(todo)" ng-show="todo.editing">
            						<input type="text" ng-blur="doneEditing(todo)" ng-focus="todo==editedItem" class="input-xxlarge" ng-model="todo.text" size="30" ng-required="true">
            					</form>
            				</div>
            			</div>
            			<div class="footer" ng-show="!query && hasItem()">
            				<span class="badge badge-warning">{{count()}}</span> 项未完成
            			</div>
                    </div>
                </div>
            </div> <!-- end of row-->

            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>开始时间</th>
                            <th>描述</th>
                            <th>状态</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="p in pomodoro.pomodoros">
                        <tr>
                            <td> {{ p.startTS | date:'HH:mm:ss' }} </td>
                            <td> <input type="text" value="{{ p.description }}"> </td>
                            <td> {{ p.status == 'ABORTED' ? p.status + ' - ' + (p.endTS | date: 'HH:mm:ss') : p.status }} </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
                <a href="{{ pomodoro.pomodoros | toCSV }}" id="export-activty">Export</a> <br/>
                <a href="#" id="reset-pomodoros" ng-click="resetPomodoros()">Reset Pomodoros</a>
            </div>
        </div>
    </div><!-- /.container -->
    </body>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/controllers.js" type="text/javascript"></script>
    <script src="js/services.js" type="text/javascript"></script>
    <script src="js/filters.js" type="text/javascript"></script>
    <script src="js/directives.js" type="text/javascript"></script>
</html>
